.footer{
    background-color: var(--cor-3);
    display: flex;
    margin: 0;
    padding: .5rem 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 10%;
    min-width: 100px;
}
.footer a{
    text-decoration: none;
}
.footer p{
    color: var(--cor-1);
    text-decoration: underline;
    font-size: var(--fonte-textoN);
}
.footer strong{
    color: var(--cor-2);
}

@media (max-width: 450px){
    .footer{
        padding: .2rem;
    }
}