.experiencias {
    font-family: var(--fonte-texto);
}

.titulo {
    font-family: var(--fonte-destaque);
    font-size: var(--fonte-tituloMenor);
    color: var(--cor-2);    
    text-decoration: underline;
    padding: .5em;
}

.funcao {
    color: var(--cor-2);
    font-size: var(--fonte-subtitulo);
    padding: .5em 0;

}
.tempoElocal{
    font-size: var(--fonte-textoN);
    padding: 1em 0;
    font-weight: bold;
}
.descricao{
    text-align: justify;
    padding-top: var(--fonte-miniTexto);
    border-top: 1px solid var(--cor-2);
}