.tecnologiaBanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;   
    max-height: 30vh;
    box-sizing: border-box;
}
.tecnologiaBanner img{
    max-width: 15%;
    box-sizing: border-box;
    padding: 1rem;
    
}
.tecnologiaBanner h2{
    font-family: var(--fonte-destaque);
    font-size: 3rem;
    color: var(--cor-4);
    
}