/* Color Theme Swatches in Hex */
$color1-hex: #040A0D;
$color2-hex: #C5D3D9;
$color3-hex: #172426;
$color4-hex: #3F5559;
$color5-hex: #86A0A6;

/* Color Theme Swatches in RGBA */
$color1-rgba: rgba(4,10,12, 1);
$color2-rgba: rgba(197,211,216, 1);
$color3-rgba: rgba(23,35,38, 1);
$color4-rgba: rgba(63,84,89, 1);
$color5-rgba: rgba(134,159,165, 1);

/* Color Theme Swatches in HSLA */
$color1-hsla: hsla(196, 49, 3, 1);
$color2-hsla: hsla(196, 20, 81, 1);
$color3-hsla: hsla(191, 24, 12, 1);
$color4-hsla: hsla(191, 16, 29, 1);
$color5-hsla: hsla(191, 14, 58, 1);
