.link{
    text-decoration: none;
    font-size: var(--fonte-tituloMenor);
    color: var(--cor-4);
    font-weight: bold;
}
.linkAtivo{
    transform: scale(1.05);
    text-decoration: underline;
    color: var(--cor-2);
}